# Ignore SendGrid API key file
sendgrid_key.txt
node_modules/
.env
serviceAccountKey.json
.next/
.DS_Store
*.log
*.lock
*.cache
.vscode/
.idea/
*.env.local
*.env.development
*.env.production
*.env.test
*.env.*.local