# Ignore SendGrid API key file
sendgrid_key.txt
# Ignore Strapi API token files
strapi_api_token.txt
latest_strapi_api_token_for express_orders.txt
node_modules/
.env
serviceAccountKey.json
.next/
.DS_Store
*.log
*.lock
*.cache
.vscode/
.idea/
*.env.local
*.env.development
*.env.production
*.env.test
*.env.*.local
latest_strapi_api_token_for\ express_orders.txt
strapi_api_token.txt